@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

:root {
  --color-primary-white: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-primary-dblue: #011c44;
  --color-secondary-gr1: #4a4a4a;
  --color-secondary-gr2: #747272;
  --color-secondary-lblue: #011f4a;
  --color-secondary-yelow: #ffd02b;
}

body {
  color: var(--color-primary-dblue);
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  margin-top: 0;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Header */

.header-section {
  background-image: url(../images/image\ 1.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  /* background-attachment: fixed; */
}

.head-container {
  display: flex;
  background-size: cover;
  gap: 240px;
  background-color: rgba(255, 255, 255, 0.25);
  align-items: center;
  margin-bottom: 16px;
}

.logo-container {
  display: flex;
  margin-left: 99px;
}

.nav-container {
  display: flex;
  gap: 56px;
}
.soc-container {
  display: flex;
  gap: 32px;
}

/* title-inf */

.title-inf {
  margin-left: 244px;
}

h1 {
  margin-bottom: 40px;
}

.button {
  color: #ffffff;
  border-radius: 32px;
  background-color: var(--color-primary-blue);
  border: var(--color-primary-blue);
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 14px;
}

.button:hover {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
  border: 2px solid #2b7fff;
  cursor: pointer;
}
/* main info */
.main-inf {
  display: flex;
  gap: 28px;
  width: 1440px;
}

.main-text {
  padding: 40px;
  max-width: 400px;
  max-height: 709px;
  display: block;
}

.main-fot {
  width: 335px;
  height: 328px;
}

.main-foto {
}

.link {
  color: var(--color-primary-blue);
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.link:hover {
  color: var(--color-primary-dblue);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.socsety {
  background-color: #ffffff;
}

h1 {
  color: var(--color-primary-blue);
  font-family: Play;
  font-size: 140px;
  font-style: normal;
  font-weight: 700;
  line-height: 114px; /* 81.429% */
  text-transform: capitalize;
}

h2 {
  font-family: Play;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 .accent {
  color: var(--color-primary-blue);
  text-transform: capitalize;
}

#text-inf {
  color: var(--color-primary-dblue);
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 172.727% */
}

#text-inf .beautyzone {
  color: var(--color-primary-dblue, #011c44);
  font-weight: 600;
}

h3 {
  color: var(--color-primary-dblue, #011c44);
  text-align: center;
  font-family: Play;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 .hero-h3 {
  color: var(--color-primary-blue, #2b7fff);
}

#text-inf2 {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

footer {
  background-color: #011f4a;
}

.link2 {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.copy {
  color: #747272;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
